configuration {           
	modes: "drun";
    font: "CommitMono Nerd Font Mono 12";
    fixed-num-lines: true;
	show-icons: true;
	steal-focus: true;
	match: "fuzzy";
	terminal: "alacritty";
	drun-display-format: "{icon} {name}";

	drun {
		display-name: "Search";
	}
}
@theme "tokyonight"

