// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$theme_fg_color: #{"@theme_fg_color"};
$theme_bg_color: #{"@theme_bg_color"};
$theme_text_color: #{"@theme_text_color"};
$theme_selected_bg_color: #{"@theme_selected_bg_color"};
$radius: 4px;

window.Bar {
    color: $theme_text_color;

    button {
        margin: 4px 2px;
        padding: 2px 2px;
        font-size: 17px;
    }

    background: transparent;
    font-weight: bold;

    >centerbox {
        background: $theme_bg_color;
        margin: 0px;
    }

    button {
        background-color: $theme_bg_color;
        border-radius: $radius;
    }

    .Workspaces {
        font-size: 17px;

        button {
            margin: 0;
            padding: 4 6px;

            &.focused {
                background-color: $theme_selected_bg_color;
            }

            &+button {
                margin-left: 4px;
            }
        }
    }

    .Focused {
        margin-left: 4px;
        font-size: 11px;
    }

    .mic-status {
        margin-right: 4px;
    }

    .Time {
        margin-right: 8px;
    }

    .Media {
        padding: 2px;
        font-size: 11px;

        .media-label {
            margin-right: 12px;
        }

        .media-not-playing {
            color: $theme_selected_bg_color;
        }
    }
}
